<h1>Judoscale: Rails Sample</h1>

<p>
  Judoscale is reporting metrics to <a href="<%= Judoscale::Config.instance.api_base_url %>" target="_blank" rel="noreferrer"><%= Judoscale::Config.instance.api_base_url %></a>..
</p>
<p>
  Open that page to watch as metrics are being reported, and reload this page multiple times to collect and report web metrics.
</p>
<p>
  Add <code>?sleep=1</code> to the URL to sleep for 1 second.
</p>
