---
http_interactions:
- request:
    method: post
    uri: http://rails-autoscale.dev/api/test-app-token/reports
    body:
      encoding: UTF-8
      string: '{"report":[{"time":"2016-12-03T01:22:00+00:00","type":"wait_time","dyno":"web.1","values":[11,33]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Dec 2016 03:26:26 GMT
recorded_with: VCR 3.0.3
