---
http_interactions:
- request:
    method: post
    uri: http://rails-autoscale.dev/api/test-app-token/reports
    body:
      encoding: UTF-8
      string: '{"report":{"time":"2016-12-03T01:22:00+00:00","dyno":"web.1","pid":"1232","measurements":[11,33]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 22 Jan 2017 17:10:10 GMT
recorded_with: VCR 3.0.3
